<footer class="container-fluid">
    <div class="col-sm-12">
        <br>
            <h5 class="uppercase general-sub-2">My Social</h5>
            <ul class="list-inline social-links inline">
                <li>
                    <a class="tw-color" target="_blank" href="https://twitter.com/jedboyleDev">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a
                        class="li-color"
                        target="_blank"
                        href="https://www.linkedin.com/in/jed-boyle/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a
                        class="in-color"
                        target="_blank"
                        href="https://www.instagram.com/jedboylegd/?hl=en">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>