<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio website for Jed Boyle, a full stack web developer based in the UK, East Sussex">
    <meta name="keywords" content="Full Stack Web Developer, Web Developer, Programmer, IT, Software Developer, Software Engineer">
    <meta name="author" content="Jed Boyle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jed Boyle | Full Stack Developer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
    <link rel="shortcut icon" type="image/png" href="Logo1.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/twi6bdh.css">
    <script src="handlebars.min-v4.7.6.js"></script>
    <script id="templateHB" type="text/x-handlebars-template">
        {{#each toggleNav}}
            <li class="instrument">
                <a href="{{this.link}}">{{this.name}} | {{this.topic}}</a>
            </li>
        {{/each}}
    </script>
</head>

<body>

    <!---- Toggle Nav ---->

    <header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right ">
                        <li><a href="/">Home</a></li>
                        <li><a href="/resume">Resume</a></li>
                        <li><a href="" target="_blank">CV PDF</a></li>
                        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
                            <ul id="information" class="dropdown-menu">
                            <!--  Handlebars nav links  -->
                            </ul>
                        <li>
                            <a href="/git-hub">Git Hub</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!---- /Toggle Nav ---->

        <!---- Head & large Nav ---->

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <div class="row bg-color-name-title-001">
                        <div class="heading-001">
                            <div class="logo1-001">
                                <a href="/"><img src="logogiff.gif" width="100px" alt="Jed Boyle logo"></a>
                            </div>
                            <div class="branding">
                                <h1 class="name-001">Jed Boyle</h1>
                                <h2 class="title-001">Full Stack Developer</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="hidden-xs col-sm-12 col-md-12 hidden-lg">
                    <div class="row bg-color-name-title">
                        <div class="heading">
                            <div class="logo1">
                                <a href="/"><img src="logogiff.gif" width="100px" alt="Jed Boyle logo"></a>
                            </div>
                            <div class="branding">
                                <h1 class="name">Jed Boyle</h1>
                                <h2 class="title">Full Stack Developer</h2>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <ul id="nav-2" class="list-inline clearfix">
                                <li class="col-xs-6 col-sm-2 ui-menu-color-home menuitem">
                                    <a href="/" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Home</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-resume menuitem">
                                    <a href="/resume" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        <span>Resume</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-cv-pdf menuitem">
                                    <a href="assets/cv/jedboylecv.pdf" target="_blank" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>CV PDF</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-portfolio menuitem">
                                    <a href="/portfolio" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                        <span>Portfolio</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-download menuitem">
                                    <a href="/git-hub" target="_blank" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>GIT HUB</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-contact menuitem">
                                    <a href="/contact" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                        <span>Contact</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="container-fluid">
                <div class="row">
                <div class="hidden-xs hidden-sm hidden-md col-lg-12">
                    <div class="row bg-color-name-title">
                        <div class="heading">
                            <div class="logo1">
                                <a href="/"><img src="logogiff.gif" width="100px" alt="Jed Boyle logo"></a>
                            </div>
                            <div class="branding">
                                <h1 class="name">Jed Boyle</h1>
                                <h2 class="title">Full Stack Developer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <ul id="nav-3" class="list-inline clearfix">
                                <li class="col-xs-6 col-sm-2 ui-menu-color-home menuitem">
                                    <a href="/" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Home</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-resume menuitem">
                                    <a href="/resume" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        <span>Resume</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-cv-pdf menuitem">
                                    <a href="assets/cv/jedboylecv.pdf" target="_blank" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>CV PDF</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-portfolio menuitem">
                                    <a href="/portfolio" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                        <span>Portfolio</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-download menuitem">
                                    <a href="/git-hub" target="_blank" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span>GIT HUB</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-2 ui-menu-color-contact menuitem">
                                    <a href="/contact" class="hvr-sweep-to-bottom">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                        <span>Contact</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


     <!---- /Head & large Nav ---->

    <!---- View output ---->

    <main>
        {{{ body }}}
    </main>

    <!---- /View output ---->

    <!---- Footer ---->

    <footer class="container-fluid">
        <div class="col-sm-12"><br>
            <h5 class="uppercase general-sub-2">My Social</h5>
            <ul class="list-inline social-links inline">
                <li><a class="tw-color" target="_blank" href="https://twitter.com/jedboyleDev"><i class="fa fa-twitter"></i></a></li>
                <li><a class="li-color" target="_blank" href="https://www.linkedin.com/in/jed-boyle/"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="in-color" target="_blank" href="https://www.instagram.com/jedboylegd/?hl=en"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>

     <!---- /Footer ---->

    <!---- Javascript ---->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="nav-toggle.js"></script>

    <!---- /Javascript ---->

</body>
</html>