<main>
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 mcol-md-12 col-lg-12">
                <div class="row bg-color-contact">
                    <div>

                        <h3 class="contact-heading uppercase text-center">Got a project in mind?</h3>
                        <h5 class="uppercase text-center">Let's work together</h5>
                    </div>
                    <style>
                        .center-form {
                            padding-top: 30px;
                            min-height: 240px;
                            margin: auto;
                            max-width: 70%;
                            text-align: center;
                        }
                    </style>
                    <div class="center-form">
                        <form onsubmit="return sendMail(this);" method="POST">
                            <input
                                type="text"
                                name="name"
                                class="form-control"
                                id="fullname"
                                placeholder="Name"
                                required="required"/>
                            <input
                                type="text"
                                name="emailaddress"
                                class="form-control"
                                id="emailaddress"
                                placeholder="Email"
                                required="required"/>
                            <textarea
                                rows="5"
                                name="projectsummary"
                                class="form-control"
                                id="projectsummary"
                                placeholder="Project Description"
                                required="required"></textarea>
                            <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>
</section>
</main>

