<!---- Personal Info & About ---->

        <main>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 mcol-md-12 col-lg-12">
                        <div class="row bg-color-contact">
                            <div>
                                <h3 class="contact-heading uppercase text-center">
                                    View My GitHub Projects
                                </h3>
                                <h5 class="uppercase text-center">
                                    You Can also search on other user profiles
                                </h5>
                            </div>

                            <div class="center-form">
                                <input
                                    type="text"
                                    id="gh-username"
                                    value="jboyle1"
                                    oninput="fetchGitHubInformation()"/><br/><br/>
                                <div id="gh-user-data"></div>
                                <br/><br/>
                                <div id="gh-repo-data"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!---- /Personal Info & About ---->