<!---- Personal Info & About ---->
<main>
    <section class="container-fluid">
        <div class="row row-table">
            <div
                class="col-xs-12 hidden-sm hidden-md hidden-lg bg-color-personal-info section-column">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading6 uppercase">Personal Info</h3>
                    </div>
                </div>
                <div class="p-info">
                    <div class="personal-info-item">
                        <div class="key">
                            <p class="uppercase">Name:</p>
                        </div>
                        <div class="value">
                            <p>Jed Boyle</p>
                        </div>
                    </div>

                    <div class="personal-info-item">
                        <div class="key">
                            <p class="uppercase">Phone:</p>
                        </div>
                        <div class="value">
                            <p>(+44) 07944309550</p>
                        </div>
                    </div>
                    <div class="personal-info-item">
                        <div class="key">
                            <p class="uppercase">Email:</p>
                        </div>
                        <div class="value">
                            <p>jedboyle01@gmail.com</p>
                            <br>
                                <br></div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="hidden-xs col-sm-12 col-md-4 col-lg-4 bg-color-personal-info section-column">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="section-heading5 uppercase">Personal Info</h3>
                            </div>
                        </div>
                        <div class="personal-info-item">
                            <div class="key">
                                <p class="uppercase">Name:</p>
                            </div>
                            <div class="value">
                                <p>Jed Boyle</p>
                            </div>
                        </div>

                        <div class="personal-info-item">
                            <div class="key">
                                <p class="uppercase">Phone:</p>
                            </div>
                            <div class="value">
                                <p>(+44) 07944309550</p>
                            </div>
                        </div>
                        <div class="personal-info-item">
                            <div class="key">
                                <p class="uppercase">Email:</p>
                            </div>
                            <div class="value">
                                <p>jedboyle01@gmail.com</p>
                                <br>
                                    <br></div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="hidden-xs col-sm-12 col-md-8 bg-color-three-reasons section-column">
                                    <div class="row row-table">
                                        <div class="col-md-12">
                                            <h3 class="section-heading-001 uppercase">About Me</h3>
                                            <div class="row">
                                                <div class="hidden-xs col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-sm-2 col-md-2"></div>
                                                        <div class="col-xs-10 col-sm-10">
                                                            <h4 class="three-reasons-heading-002 uppercase">What do I do?</h4>
                                                            <p class="about-text-002">
                                                                I'm a skilled Full Stack Developer with a wealth of diverse life and technical
                                                                experience, that I bring to every project.
                                                            </p>
                                                            <br></div>
                                                        </div>
                                                    </div>
                                                    <div class="hidden-xs col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                                                        <div class="row">
                                                            <div class="col-xl-2 col-sm-2 col-md-2"></div>
                                                            <div class="col-xs-10 col-sm-10">
                                                                <h4 class="three-reasons-heading-002 uppercase">How do I do it?</h4>
                                                                <p class="about-text-002">
                                                                    I follow form as well as function. I know that the aesthetics of effective
                                                                    design combined with application speed, security and reliability combine to
                                                                    create a great user experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hidden-xs col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-6">
                                                        <div class="row">
                                                            <div class="col-xl-2 col-sm-2 col-md-2"></div>
                                                            <div class="col-xs-10 col-sm-10">
                                                                <h4 class="three-reasons-heading-002 uppercase">Why Hire Me?</h4>
                                                                <p class="about-text-002">
                                                                    I work quickly and effectively building web applications, by working across the
                                                                    stack. I'm an excellent communicator who thrives in bright and enthusiastic
                                                                    teams, I'm also an efficient and highly motivated self starter when working
                                                                    solo.</p>
                                                                <br>
                                                                    <br></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-xs-12 hidden-sm hidden-md hidden-lg bg-color-three-reasons section-column">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="section-heading uppercase">About Me</h3>

                                                    <div class="row">
                                                        <div class="col xs-10  hidden-sm col-sm-4 hidden-md hidden-lg">
                                                            <div class="row">
                                                                <div class="col-xl-2 col-sm-2 col-md-2 col-xs-11"></div>
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <h4 class="three-reasons-heading-sm uppercase">What do I do?</h4>
                                                                    <p class="text-center">
                                                                        I'm a skilled Full Stack Developer with a wealth of diverse life and technical
                                                                        experience, that I bring to every project.
                                                                    </p>
                                                                    <br></div>
                                                                </div>
                                                            </div>
                                                            <div class="col xs-10  hidden-sm col-sm-4 hidden-md hidden-lg">
                                                                <div class="row">
                                                                    <div class="col-xl-2 col-sm-2 col-md-2 col-xs-11"></div>
                                                                    <div class="col-xs-12 col-sm-12">
                                                                        <h4 class="three-reasons-heading-sm uppercase">How do I do it?</h4>
                                                                        <p class="text-center">
                                                                            I follow form as well as function. I know that the aesthetics of effective
                                                                            design combined with application speed, security and reliability combine to
                                                                            create a great user experience.
                                                                        </p>
                                                                        <br></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col xs-10  hidden-sm col-sm-4 hidden-md hidden-lg">
                                                                    <div class="row">
                                                                        <div class="col-xl-2 col-sm-2 col-md-2 col-xs-11"></div>
                                                                        <div class="col-xs-12 col-sm-12">
                                                                            <h4 class="three-reasons-heading-sm uppercase">Why Hire Me?</h4>
                                                                            <p class="text-center">
                                                                                I work quickly and effectively building web applications, by working across the
                                                                                stack. I'm an excellent communicator who thrives in bright and enthusiastic
                                                                                teams, I'm also an efficient and highly motivated self starter when working
                                                                                solo.
                                                                            </p>
                                                                            <br>
                                                                                <br></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </main>

                                            <!---- /Personal Info & About ---->